include ../_variables

-
  const pages = [
    { name: 'index', property: false },
    { name: 'category', property: false },
    { name: 'post', property: false },
    { name: 'registration', property: false },
    { name: 'login', property: false },
    { name: 'forgot-password', property: false },
    { name: 'registration-thanks', property: false },
    { name: 'registration-check', property: false },
    { name: 'new-password-check', property: false },
    { name: 'new-password', property: false },
    { name: 'forgot-password-send', property: false },
    { name: 'personal', property: false },
    { name: 'home', property: false },
    { name: 'search', property: false },
  ]

if develop
  doctype html
  html(lang='ru')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.5, minimum-scale=1.0')
      meta(http-equiv='X-UA-Compatible', content='ie=edge')
      title Карта сайта
    body
      main.wrapper
        div(style="padding-top: 20px")
          .cont
            each page in pages
              div: a(href=`${page.name}.html`) #{page.name}

else
  | <?xml version="1.0" encoding="UTF-8"?>
  urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9", xmlns:image="http://www.google.com/schemas/sitemap-image/1.1", xmlns:news="http://www.google.com/schemas/sitemap-news/0.9")
