extends ../components/_layout/layout

block head

  title!= ''
  meta(name="description", content!='')
  link(rel="canonical" href='')
  link(rel="image_src" href='')

block body
  include ../components/mixin/info-page
  +info-page("Письмо отправлено", "На вашу почту выслано письмо со ссылкой для восстановления пароля", true)
