extends ../components/_layout/layout

block head

  title!= ''
  meta(name="description", content!='')
  link(rel="canonical" href='')
  link(rel="image_src" href='')

block body
  include ../components/mixin/info-page
  +info-page("Новый пароль установлен", "Теперь для вашего аккаунта установлен новый пароль", true)
