article.forgot-password
  .forgot-password__cont.cont
    h1.forgot-password__caption.caption
      span В
      span о
      span с
      span с
      span т
      span а
      span н
      span о
      span в
      span л
      span е
      span н
      span и
      span е
    p.forgot-password__text На указанную почту придёт письмо для восстановления пароля
    form.forgot-password__form(data-role="validation__form")
      label.forgot-password__label.form-label
        input.forgot-password__input.form-input(name="mail" type="email" required data-role="form-input")
        span.forgot-password__name.form-name Почта
      button.forgot-password__button.button_read.button_read-blue.form-button(disabled=true data-role="form-button") Отправить
